*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .15);
    padding: 5px;
    display: flex;
    height: 50px;
    align-items: center;
    backdrop-filter: blur(10px);
}
.name{
    height: 35px;
    background: beige;
    padding: 15px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    font-size: 14px;
    font-weight: 300;
}
.input{
    border: none;
    height: 35px;
    border-radius: 30px;
    margin: 5px;
    padding: 0 25px;
    display: flex;
    width: 100%;
    outline: none;
}
.btn{
    background: #222;
    border: none;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    color: beige;
    border-radius: 5px;
}
.messages{
    list-style: none;
    margin: 0;
    padding: 0;
}
.messages>li{
    padding: 10px;
}
.messages>li>span{
    font-weight: 500;
}
.messages > li:nth-child(odd){
    background: #efefef;
}